#  Local .terraform directories
**/.terraform/*
**/.terraform*
**/**/.terraform/*
**/**/.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

**/*.tfstate
**/*.tfstate.*

# .tfvars files
*.tfvars
**/*.tfvars

/cert/*
*.DS_Store
**/.DS_Store
**/modules.json